*{
  margin: 0;
  padding: 0;
  background-color: black;
}
form{
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  gap: 20px;
}
input,button{
  background-color: rgba(194, 194, 194, 0.209);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
}