body{
 margin: 0;
 padding: 0;  
 height: 100%;
 width: 100%;
 overflow: hidden; 
}

main{
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piano{
    height: 40%;
    width: 50%;
    border: 2px solid white;
}