*{
  background-color: black;
  padding: 0;
  margin: 0;
}
form{
  background-color: rgb(36, 34, 34);
  padding: 20px;
  display: flex;
  gap: 10px;
}
input{
  background-color: grey;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
button{
  padding: 10px 20px;
  color: white;
  background-color: green;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}