@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./AeonikTRIAL-Regular.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./AeonikTRIAL-Bold.otf);
}

:root{
    --pri:#F8F4E1;
    --sec:#4E1F00;
    --tri1:#FEBA17;
    --tri2 : #74512D;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: aeonik;
    color: var(--pri);
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri1);
}
section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px; 
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;

}
.elem{
    background-color: var(--tri1);
    padding: 30px 40px;
    border-radius: 10px;
    font-size: 50px;
    height: 400px;
    width: 330px;
}