*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body{
  height: 100%;
  width: 100%;
}
.allProducts{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: black;
}
.product{
  text-align: center;
  background-color: rgb(46, 46, 46);
  display: block;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
}
.product img{
  height: 200px;

}

.product h2{
  font-size: 20px;
  margin-top: 20px;
}